{% extends 'base.html' %}

{% block title %}
Documentários
{% endblock title %}

{% block body %}

{% load static %}

        <div class="container text-light">
        <br><br>  
            <h2>Documentários</h2>  
        </div> 
    
        <br><br>
    
        <div class="container">
    
            <div class="row">
                <div class="col-md-3">
                    <img src="{% static 'img/Documentarios/a estrela.jpg' %}" class="img-fluid" alt="...">
                 </div>
                 <div class="col-md-3">
                    <img src="{% static 'img/Documentarios/a morte da nação.jpg' %}" class="img-fluid" alt="...">
                 </div>
                 <div class="col-md-3">
                    <img src="{% static 'img/Documentarios/barack obama.jpg' %}" class="img-fluid" alt="...">
                 </div>
                 <div class="col-md-3">
                    <img src="{% static 'img/Documentarios/lei da agua.jpg' %}" class="img-fluid" alt="...">
                 </div>
                 </div>
            </div>
        </div>
    
    {% endblock body %}

</body>
</html>