{% extends 'base.html' %}

{% block title %}
Documentários
{% endblock title %}

{% block body %}

{% load static %}

        <div class="container text-light">
        <br><br>
            <h2>Filmes</h2>
        </div>
        <br><br>
    
        <div class="container">
             <div class="row">
                 <div class="col-md-3">
                    <img src="{% static 'img/Filmes/a guerra dos tronos.jpg' %}" class="img-fluid" alt="...">
                 </div>
                 <div class="col-md-3">
                    <img src="{% static 'img/Filmes/aceleração maxima.jpg' %}" class="img-fluid" alt="...">
                 </div>
                 <div class="col-md-3">
                    <img src="{% static 'img/Filmes/anime.jpg' %}" class="img-fluid" alt="...">
                 </div>
                 <div class="col-md-3">
                    <img src="{% static 'img/Filmes/dune.jpg' %}" class="img-fluid" alt="...">
                 </div>
                 
    
            </div>
        
        </div>
    
    {% endblock body %}