{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block body %}

{% load static %}

<div class="card text-white bg-dark mb-3" style="max-width: 50rem;" id="telaLogin">
        <img src="{% static 'img/logo/movmax2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Login</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu email">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Insira sua senha">
                </div>
                <div class="d-grid gap-2">
                <a href="{% url 'core:home' %}" button type="submit" class="btn btn-success">Entrar</a>
            </div>                
              </form>          
        </div>
      </div>   
    
{% endblock body %}