{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">
    <link rel="shortcut icon" type="imagex/png" href="{% static 'img/logo/movmax2.png' %}">
    <title>{% block title %}Login{% endblock title %}</title>
</head>
<body>

    <!-- INICIO: Bloco do Bootstrap a ser incluido -->
    <div class="card text-white bg-dark mb-3" style="max-width: 50rem;" id="telaLogin">
        <img src="{% static 'img/logo/movmax2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Login</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu email">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Insira sua senha">
                </div>
                <div class="d-grid gap-2">
                <a href="{% url 'core:home' %}" button type="submit" class="btn btn-success">Entrar</a>
            </div>                
              </form>          
        </div>
      </div>   
    <!-- FIM: Bloco do Bootstrap a ser incluido -->

    {% block body %}
    
    {% endblock body %}
    
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <!-- <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>