{% extends 'base.html' %}

{% block title %}
Planos
{% endblock title %}

{% block body %}

{% load static %}
    
        <div class="tabela-preco">
    
            
            <div class="card-preco">
                <h3 class="card-preco-header">Básico</h3>
                <div class="preco"><sup>R$</sup>10<span>/Mês</span></div>
                <ul>
                    <li><strong></strong> x</li>
                    <li><strong></strong> x</li>
                    <li><strong></strong> x</li>
                    <li><strong>1 </strong>Tela disponível</li>
                    <li><strong></strong>Assista em todos os dispositivos</li>
    
                </ul>
                <a href="#" class="btn">Quero este Plano</a>
                
            </div>
    
    
            <div class="card-preco">
                <h3 class="card-preco-header">Médio</h3>
                <div class="preco"><sup>R$</sup>25<span>/Mês</span></div>
                <ul>
                    <li><strong></strong>HD disponível</li>
                    <li><strong></strong> x</li>
                    <li><strong></strong> x</li>
                    <li><strong>2 </strong>Telas disponíveis</li>
                    <li><strong></strong>Assista em todos os dispositivos</li>
    
                </ul>
                <a href="#" class="btn">Quero este Plano</a>
                
            </div>
    
    
            <div class="card-preco">
                <h3 class="card-preco-header">Master</h3>
                <div class="preco"><sup>R$</sup>40<span>/Mês</span></div>
                <ul>
                    <li><strong></strong>HD disponível</li>
                    <li><strong></strong>Ultra HD disponível</li>
                    <li><strong></strong>HDR disponível</li>
                    <li><strong>4 </strong>Telas disponíveis</li>
                    <li><strong></strong>Assista em todos os dispositivos</li>
    
                </ul>
                <a href="#" class="btn">Quero este Plano</a>
                
            </div>
            
        </div>
    
    {% endblock body %}
    
</body>
</html>