{% extends 'base.html' %}

{% block title %}
Séries
{% endblock title %}

{% block body %}

{% load static %}
    
        <div class="container text-light">
        <br><br>
            <h2>Séries</h2>
        </div> 
        <br><br>
    
        <div class="container">
    
            <div class="row">
                <div class="col-md-3">
                    <img src="{% static 'img/Series/admiravel mundo novo.jpg' %}" class="img-fluid" alt="...">
                 </div>
                 <div class="col-md-3">
                    <img src="{% static 'img/Series/elite.jpg' %}" class="img-fluid" alt="...">
                 </div>
                 <div class="col-md-3">
                    <img src="{% static 'img/Series/interregation.jpg' %}" class="img-fluid" alt="...">
                 </div>
                 <div class="col-md-3">
                  <img src="{% static 'img/Series/loki.jpg' %}" class="img-fluid" alt="...">
                 </div>          
            </div>
        </div>
    
    {% endblock body %}